html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; } 

fieldset, img { border:none; } 

address, caption, cite, code, dfn, th, var { font-style:normal; font-weight:normal; } 

ul, ol { list-style:none; } 


body { color:#000;font:12px/20px "microsoft yahei","宋体","Arial Narrow",HELVETICA; background:#fff;}

a { color:#666; text-decoration:none; }

body,html{
	width: 100%;
	height: 100%;
	overflow: auto;
}

header{
	height: 45px;
	background: #e4366b;
	text-align: center;
	position: fixed;
	width: 100%;
	z-index: 2;
	border-top: 1px solid #636363;
	border-bottom: 1px solid #282828;
}

header .title{
	display: inline-block;
	width: 100%;
	height: 100%;
	line-height: 45px;
	vertical-align: middle;
	color: #FFFFFF;
	font-size: 28px;
}
header span{
	display: inline-block;
	height: 100%;
	width: 0;
	vertical-align: middle;
}

#search{
	height: 48px;
	width: 100%;
	background: #52525a;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 47px;
	left: 0;
	border-top: 1px solid #636363;
	border-bottom: 1px solid #282828;
}

#search label{
	position: absolute;
	display: block;
	left: 10%;
	top: 26%;
	width: 22px;
	height: 24px;
	background:#fff url(../img/search.png)0px 0px/contain no-repeat;
}

#sea{
	width: 90%;
	height: 74%;
	border-radius: 45px/50px;
	box-sizing: border-box;
	padding-left: 15%;
	padding-right: 7%;
	outline: none;
}

#search label a{
	display: block;
	width: 100%;
	height: 100%;
}

footer{
	height: 48px;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	background:#484850 url(../img/foot-bg.gif)repeat-x left top;
	display: flex;
	z-index: 66666;
	
}

footer a{
	display: block;
	width: 20%;
	height: 43px;
	border-top: 5px solid transparent;
}

footer .active{
	border-top: 5px solid #e4366b;
}
footer img{
	width: 100%;
	height: 100%;
}








